.producto-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.btn-add {
    cursor: pointer;
    padding: 4px;
    margin: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.btn-vista {
    background-color: rgb(12, 160, 160);
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
